@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-fade-in: fade-in 0.3s ease-out backwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
